*.DS_Store*
.vscode

__pycache__/

.cache/
.dev/
.exp/
.demo/
.gradio/
.claude/

wandb
tmp/
tmp*/
temp/

assets/checkpoints
assets/data
assets/dataset
assets/export_models
assets/fig
assets/video
assets/venvs

/exp*

*.png
*.jpg
*.pth
*.mp4
/*.pt

dc_ai/staecore/efficiency/block_efficiency_cache.json
dc_ai/c2icore/diffusioncore/efficiency/onnx/
dc_ai/c2icore/diffusioncore/efficiency/training_efficiency/
dc_ai/c2icore/diffusioncore/efficiency/*.json

dc_ai/t2icore/efficiency/*.json
dc_ai/t2icore/efficiency/onnx/

applications/dc_gen/inference_demo/pretrained_models
