*.DS_Store*
.vscode

__pycache__/

.dev/
.exp/
.demo/
.gradio/

wandb
tmp/
tmp*/
temp/

assets/checkpoints
assets/data
assets/export_models
assets/fig
assets/video

exp_junyuc
exp_hcai
exp_wenkunh
exp_dongyun
exp_yujlin
exp_yuchao
exp_jasonlu

*.pth
*.mp4
/*.pt
/*.txt

dc_gen/apps/visualization
dc_gen/staecore/models/cosmos_tokenizer_modules
dc_gen/c2icore/diffusioncore/efficiency/onnx/
dc_gen/c2icore/diffusioncore/efficiency/training_efficiency/
dc_gen/c2icore/diffusioncore/efficiency/*.json

dc_gen/t2icore/t2idiffusioncore/efficiency/*.json
dc_gen/t2icore/t2idiffusioncore/efficiency/onnx/
