torchmetrics
numpy
Pillow
timm
einops
opencv-python
tqdm
torchprofile
scipy
torch-fidelity
diffusers
omegaconf
ipdb
wandb[media]
ray
imgaug
torchdiffeq
imageio[ffmpeg]
addlicense

matplotlib
huggingface-hub
transformers
mmdet
onnx
onnxsim
onnxruntime
SentencePiece
peft
git+https://github.com/openai/CLIP.git

